* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(245, 245, 245);
    display: flex;
    padding-top: 5%;
    padding-bottom: 9%;
    justify-content: center;
}

.kontener {
    background-color: rgb(30, 41, 59);
    color: white;
    border-radius: 20px;
    width: 23%;
}

form {
    display: flex;
    justify-content: center;
}


.inputy {
    display: flex;
    flex-direction: column;
}

input,
select {
    border-radius: 5px;
}


.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.header>img {
    margin-left: 3%;
    margin-top: 3%;
}

.header>h1 {
    margin-top: 12%;
    margin-left: 5%;
}

.submit,
.reset {
    width: 50%;
    margin: 5%;
    margin-left: 25%;
    border-radius: 10px;
    height: 25px;
    background-color: rgb(249, 115, 22);
    color: white;
    font-weight: 600;
}

.submit:hover,
.reset:hover {
    box-shadow: 5px 5px 10px black;
    background-color: rgb(234, 88, 12);
}


.pomoc>h2,
.karty>h2,
.onas>h2 {
    text-align: center;
}

.komunikaty {
    text-align: center;
}

a {
    color: white;
    font-weight: 600;
}

@media (max-width: 768px) {

    body {
        flex-direction: column;
        padding-top: 3%;
        padding-bottom: 5%;
        align-items: center;
    }

    .kontener {
        width: 60%;
        margin: 0;
        border-radius: 15px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1%;
    }

    .header>img {
        margin-left: 0;
        margin-top: 5%;
        width: 50%;
        height: auto;
    }

    .header>h1 {
        margin-left: 0;
        margin-top: 5%;
        font-size: 180%;
        text-align: center;
    }

    h1 {
        font-size: 180%;
        text-align: center;
    }


    form {
        width: 100%;
    }

    .inputy {
        width: 90%;
        margin: auto;
    }

    input,
    select {
        width: 100%;
        height: 35px;
        font-size: 100%;
        margin-bottom: 10px;
    }

    .submit,
    .reset {
        width: 90%;
        margin: 10px auto;
        height: 40px;
        font-size: 100%;
    }

}