* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 80px 100px 1fr 1fr;
    height: 100vh;
    background-color: bisque;
    padding-bottom: 8%;
}


.image {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    background-color: rgb(214, 142, 91);
    display: flex;
    align-items: center;
}

.image>img {
    height: 300px;
}


.header {
    grid-column: 2 /span 2;
    grid-row: 1/ span 1;
    background-color: rgb(214, 142, 91);
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: 250%;
}


.header>h1 {
    align-items: center;
    justify-content: center;
}


.wyszukaj {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wyszukaj>input {
    height: 40%;
    width: 80%;
    border-radius: 20px;
    text-align: center;
}

input::placeholder {
    color: black;
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu {
    background-color: rgb(214, 142, 91);
    grid-column: 1 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.zaloguj {
    background-color: rgb(214, 142, 91);
    grid-column: 3 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}


.koszyk {
    background-color: rgb(214, 142, 91);
    grid-column: 2 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}


.menu,
.koszyk,
.zaloguj {
    border: 2px solid black;
    margin-top: 2%;
    margin-left: 3%;
    height: 90%;
    width: 90%;
    box-sizing: border-box;
}

.koszyk:hover,
.menu:hover,
.zaloguj:hover,
.kup:hover {
    box-shadow: 5px 5px 10px black;
}

h2 {
    font-size: 170%;
}

h3{
    font-size: 170%;
}

p {
    font-size: 120%;
}

.but {
    grid-column: 1 /span 1;
    grid-row: 4/ span 1;
    display: flex;
    justify-content: right;
    padding-right: 10%;
    padding-top: 4%;
}

.but>img{
    width: 60%;
    height: auto;
}

.opis{
    grid-column: 2 / span 1;
    grid-row: 4 /span 1;
}

.dostawa{
    grid-column: 3/ span 1;
    grid-row: 4 / span 1;
    display: flex;
    flex-direction: column;
}

.zamow{
    background-color: rgb(214, 142, 91);
    padding: 7%;
    padding-bottom: 2%;
    padding-top: 2%;
    border: 2px solid black;
    border-radius: 10px;
    width: 15%;
    text-align: center;
}

.formularz{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    padding: 2%;
}

.email{
    grid-column: 1/ span 4;
    grid-row: 1 /span 1;
}

.imie{
    grid-column: 1 /span 2;
    grid-row: 2 /span 1;
}

.nazwisko{
    grid-column: 3/ span 2;
    grid-row: 2 /span 1;
}

.ulica{
    grid-column: 1 /span 2;
    grid-row: 3 /span 1;
}

.nrdomu{
    grid-column: 3/ span 2;
    grid-row: 3 /span 1;
}

.kodpocztowy{
    grid-column: 1 /span 1;
    grid-row: 4 /span 1;
}

.miejscowosc{
    grid-column: 2 /span 3;
    grid-row: 4 /span 1;
}

.numertel{
    grid-column: 1 /span 4;
    grid-row: 5 /span 1;
}