* {
    margin: 0;
    padding: 0;
}



body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 80px 100px 1fr 1fr 1fr;
    height: 100vh;
    background-color: rgb(245, 245, 245);
    padding-bottom: 8%;
}

.image {
    grid-column: 1/ span 1;
    grid-row: 1/ span 1;
    background-color: rgb(30, 41, 59);
    display: flex;
    align-items: center;
}

.image>img {
    height: 300px;
}


.header {
    grid-column: 2 /span 2;
    grid-row: 1/ span 1;
    background-color: rgb(30, 41, 59);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10%;
    font-size: 250%;
}


.header>h1 {
    align-items: center;
    justify-content: center;
}

.pos1 {
    grid-column: 1/ span 1;
    grid-row: 4 /span 1;
}

.pos2 {
    grid-column: 2/ span 1;
    grid-row: 4/ span 1;
}

.pos3 {
    grid-column: 3/ sapn 1;
    grid-row: 4/ span 1;
}

.pos4 {
    grid-column: 1/ span 1;
    grid-row: 5/ span 1;
}

.pos5 {
    grid-column: 2/ span 1;
    grid-row: 5/ span 1;
}

.pos6 {
    grid-column: 3/ sapn 1;
    grid-row: 5/ span 1;
}

.pos1,
.pos2,
.pos3,
.pos4,
.pos5,
.pos6 {
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 200%;
    padding-bottom: 3%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px  20px rgba(0, 0, 0, 0.1);
}

.pos1>img,
.pos2>img,
.pos3>img,
.pos4>img,
.pos5>img,
.pos6>img {
    width: 70%;
    height: auto;
    margin-top: 3%;
}

.pos1>p,
.pos2>p,
.pos3>p,
.pos4>p,
.pos5>p,
.pos6>p {
    margin-top: 2%;
}


.wyszukaj {
    grid-column: 2/ span 1;
    grid-row: 3/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wyszukaj>input {
    height: 40%;
    width: 80%;
    border-radius: 20px;
    text-align: center;
}

input::placeholder {
    color: black;
    font-size: 170%;
    font-family: 'Franklin Gothic Medium', sans-serif;
}

.menu {
    grid-column: 1 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.zaloguj {
    grid-column: 3 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}


.koszyk {
    grid-column: 2 /span 1;
    grid-row: 2/ span 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}


.kup {
    padding: 7%;
    padding-bottom: 4%;
    padding-top: 4%;
    border-radius: 10px;
    font-size: 150%;
    text-align: center;
    background-color: rgb(249, 115, 22);
    color: white;
    font-weight: 600;
}

.link {
    width: 40%;
    text-decoration: none;
}

.koszyk,
.zaloguj {
    text-decoration: none;
}

.menu,
.koszyk,
.zaloguj {
    margin-top: 2%;
    margin-left: 3%;
    height: 90%;
    width: 90%;
    box-sizing: border-box;
    background-color: rgb(30, 41, 59);
    color: white;
}

h2 {
    font-size: 170%;
}

h3 {
    font-size: 170%;
    margin-top: 2%;
}

p {
    font-size: 120%;
}


.koszyk:hover,
.menu:hover,
.zaloguj:hover,
.kup:hover {
    box-shadow: 5px 5px 10px black;
    background-color: rgb(234, 88, 12);
}

.pomoc {
    grid-column: 1/ span 1;
    grid-row: 6 /span 1;
    padding-left: 4%;
    background-color: rgb(30, 41, 59);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
}

.karty {
    grid-column: 2/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(30, 41, 59);
    color: white;
    padding-top: 2%;
}


.onas {
    grid-column: 3/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(30, 41, 59);
    color: white;
    padding-top: 2%;
}

a {
    text-decoration-line: none;
}


.wyloguj {
    color: white;
    font-weight: 600;
}


.pomoc>h2,
.karty>h2,
.onas>h2 {
    text-align: center;
}



@media (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% 2%;
        height: auto;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding-top: 2%;
    }

    .image>img {
        width: 80%;
        height: auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        font-size: 180%;
        padding: 5px 0;
        text-align: center;
        margin-bottom: 10px;
    }

    .wyszukaj {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 10px;
    }

    .wyszukaj>input {
        width: 100%;
        height: 35px;
        font-size: 120%;
    }

    .menu,
    .koszyk,
    .zaloguj {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 60px;
        margin: 5px;
        box-sizing: border-box;
    }

    .pos1>img,
    .pos2>img,
    .pos3>img,
    .pos4>img,
    .pos5>img,
    .pos6>img {
        width: 80%;
        height: auto;
    }

    h2 {
        font-size: 140%;
    }

    h3 {
        font-size: 130%;
    }

    p {
        font-size: 110%;
    }

    .pomoc,
    .karty,
    .onas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 95%;
        text-align: center;
        padding: 10px 0;
    }

    .pos1,
    .pos2,
    .pos3,
    .pos4,
    .pos5,
    .pos6 {
        width: 95%;
        max-width: 500px;
    }


}