* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    display: flex;
    padding-top: 5%;
    padding-bottom: 9%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


.kontener {
    background-color: #1e293b;
    color: white;
    border-radius: 20px;
    width: 23%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 2%;
    border-bottom: 1px solid black;
}

.header>img {
    margin-left: 3%;
    margin-top: 3%;
}

.header>h1 {
    margin-top: 12%;
    margin-left: 5%;
}


hr {
    width: 90%;
    height: 1px;
    margin-top: 3%;
    margin-bottom: 3%;
}

form {
    display: flex;
    justify-content: center;
}

.inputy {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputy>* {
    margin: 2%;
}


input {
    border-radius: 5px;
}

h1 {
    flex: 80;
    font-size: 250%;
}

button {
    margin: 10%;
    width: 50%;
    height: 15%;
    border-radius: 5px;
    background-color: #f97316;
    color: white;
    font-weight: 600;
}

button:hover {
    box-shadow: 5px 5px 10px black;
    background-color: rgb(234, 88, 12);
}

.zarejestruj {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zarejestruj>p {
    font-size: 80%;
}

.pomoc {
    grid-column: 1/ span 1;
    grid-row: 6 /span 1;
    padding-left: 4%;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
    padding-bottom: 2%;
}

.karty {
    grid-column: 2/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.onas {
    grid-column: 3/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.pomoc>h2,
.karty>h2,
.onas>h2 {
    text-align: center;
}


a {
    color: white;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        padding-top: 3%;
        padding-bottom: 5%;
    }

    .kontener {
        width: 60%;
        margin: 0 auto;
        border-radius: 15px;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding-bottom: 1%;
    }

    .header>img {
        margin-left: 0;
        margin-top: 5%;
        width: 50%;
        height: auto;
    }

    .header>h1 {
        margin-left: 0;
        margin-top: 5%;
        font-size: 180%;
        text-align: center;
    }

    h1 {
        font-size: 180%;
        text-align: center;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    .inputy {
        width: 90%;
        text-align: center;
    }

    input {
        height: 30px;
    }

    .inputy>* {
        width: 80%;
        margin: 3% 0;
    }

    button {
        width: 60%;
        height: 40px;
        font-size: 90%;
    }

    .zarejestruj>p {
        font-size: 70%;
        text-align: center;
    }

}