* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, bisque, rgba(255, 228, 196, 0.589));
    display: flex;
    padding-top: 5%;
    padding-bottom: 9%;
    justify-content: center;
}

.kontener {
    background-color: rgb(214, 142, 91);
    border-radius: 20px;
    width: 23%;
}

form {
    display: flex;
    justify-content: center;
}


.inputy {
    display: flex;
    flex-direction: column;
}

input,
select {
    border-radius: 5px;
}


.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.header>img {
    margin-left: 3%;
    margin-top: 3%;
}

.header>h1 {
    margin-top: 12%;
    margin-left: 5%;
}

.submit,
.reset {
    width: 50%;
    margin: 5%;
    margin-left: 25%;
    border-radius: 10px;
    height: 25px;
}

.pomoc {
    grid-column: 1/ span 1;
    grid-row: 6 /span 1;
    padding-left: 4%;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
    padding-bottom: 2%;
}

.karty {
    grid-column: 2/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.onas {
    grid-column: 3/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.pomoc>h2,
.karty>h2,
.onas>h2 {
    text-align: center;
}