* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #f5f5f5;
    display: flex;
    padding-top: 5%;
    padding-bottom: 9%;
    justify-content: center;
}

.kontener {
    background-color: #1e293b;
    color: white;
    border-radius: 20px;
    width: 23%;
}

form {
    display: flex;
    justify-content: center;
}


.inputy {
    display: flex;
    flex-direction: column;
}

input,
select {
    border-radius: 5px;
}


.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding-bottom: 3%;
    margin-bottom: 3%;
}

.header>img {
    margin-left: 3%;
    margin-top: 3%;
}

.header>h1 {
    margin-top: 12%;
    margin-left: 5%;
}

.submit,
.reset {
    width: 50%;
    margin: 5%;
    margin-left: 25%;
    border-radius: 10px;
    height: 25px;
    background-color: #f97316;
    color: white;
    font-weight: 600;
}

.submit:hover,
.reset:hover {
    box-shadow: 5px 5px 10px black;
    background-color: rgb(234, 88, 12);
}


.pomoc {
    grid-column: 1/ span 1;
    grid-row: 6 /span 1;
    padding-left: 4%;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
    padding-bottom: 2%;
}

.karty {
    grid-column: 2/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.onas {
    grid-column: 3/ span 1;
    padding-bottom: 2%;
    grid-row: 6 /span 1;
    background-color: rgb(214, 142, 91);
    padding-top: 2%;
}


.pomoc>h2,
.karty>h2,
.onas>h2 {
    text-align: center;
}