<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>
<body>
    <div class="image">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" height="200px">
    </div>

    <div class="header">
        <h1>Sklep Internetowy</h1>
    </div>

    <div class="menu">
        <h2>Kategorie</h2>
    </div>
    <div class="koszyk">
        <h2>Koszyk</h2>
    </div>
    <div class="zaloguj">
        <h2><a href="{{ url_for('login_page') }}">Zaloguj</a></h2>
    </div>
    <div class="wyszukaj">
        <input type="text" placeholder="Wyszukaj..">
    </div>


    <div class="but">
        <img src="{{ url_for('static', filename='img/but1.webp') }}" alt="">
    </div>

    <div class="opis">
        <h3>Buty do biegania męskie Nike Vomero 18 <br>
            white/blue tint/light marine/black</h3><br>
        <p>Buty do biegania męskie Nike Vomero 18 zostały stworzone z myślą o codziennym treningu i długich dystansach.
            Model oferuje maksymalną amortyzację, która wspiera komfort biegania na twardych nawierzchniach.</p><br><br>

        <p>Cena: <strong>550.0zł</strong></p>

        <label for="">Wybierz rozmiar: <input type="number"></label>
    </div>

    <div class="dostawa">
        <label for="">Podaj date dostawy: <input type="date"></label>
        <p>Zalecane jest zamówienie jako klient naszego <br>
            W tym celu zaloguj się tutaj: <a href="{{ url_for('login_page') }}">Zaloguj</a>
        </p>
        <div class="zamow">
            <p>Zamów</p>
        </div>
    </div>
    
</body>
</html>