<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>

<body>
    <div class="image">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" height="200px">
    </div>

    <div class="header">
        <h1>Sklep Internetowy</h1>
    </div>

    <div class="menu">
        <h2>Kategorie</h2>
    </div>
    <div class="koszyk">
        <a href="{{ url_for('koszyk')}}">
            <h2>Koszyk</h2>
        </a>
    </div>
    <div class="zaloguj">
        <h2><a href="{{ url_for('login_page') }}">Zaloguj</a></h2>
    </div>
    <div class="wyszukaj">
        <input type="text" placeholder="Wyszukaj..">
    </div>


    <div class="but">
        <img src="{{ url_for('static', filename='img/but3.webp') }}" alt="">
    </div>

    <div class="opis">
        <h3>Buty do biegania męskie HOKA Challenger 8 neon hoka citrus/black</h3><br>
        <p>Buty do biegania męskie HOKA Challenger 8 przeznaczone dla biegaczy poruszających się po nawierzchniach
            o różnym stopniu trudności – od utwardzonych dróg po naturalne szlaki.
            Konstrukcja butów łączy skuteczną amortyzację z przyczepnością, co ułatwia płynne przejścia między trasami.
        </p>
        <br><br>
        <p>Cena: <strong>550.0zł</strong></p>
        <label for="">Wybierz rozmiar: <input type="number"></label>
    </div>

    <div class="dostawa">
        <label for="">Podaj date dostawy: <input type="date"></label>
        <label for="">Podaj metode dostawy: <select name="" id="">
                <option value="kurier">Kurier</option>
                <option value="paczkomat">Paczkomat</option>
                <option value="pp">Poczta Polska</option>
            </select></label>
        <div class="formularz">
            <input type="text" class="email" placeholder="E-mail">
            <input type="text" class="imie" placeholder="Imie">
            <input type="text" class="nazwisko" placeholder="Nazwisko">
            <input type="text" class="ulica" placeholder="Ulica">
            <input type="number" class="nrdomu" placeholder="Nr domu">
            <input type="number" class="kodpocztowy" placeholder="Kod pocztowy">
            <input type="text" class="miejscowosc" placeholder="Miejscowość">
            <input type="number" class="numertel" placeholder="Numer telefonu">
        </div>
        <p>Zalecane jest zamówienie jako klient naszego sklepu <br>
            W tym celu zaloguj się tutaj: <a href="{{ url_for('login_page') }}">Zaloguj</a>
        </p>
        <div class="zamow">
            <form action="/zakup" method="post">
                <button type="submit" name="but" value="hoka">Zamów</button>
            </form>
        </div>
    </div>

    <div class="pomoc">
        <h2>Kontak i Pomoc</h2>
        <ul>
            <li>Wszystkie tematy</li>
            <li>Śledzenie przesyłki</li>
            <li>Możliwe metody płatności</li>
            <li>Procedura zwrotu</li>
            <li>Zapisz się do newslettera</li>
            <li>Reklamacja</li>
            <li>Zgłoś lukę w zabezpieczeniach</li>
        </ul>
    </div>

    <div class="karty">
        <h2>Karty podarunkowe</h2>
        <ul>
            <li>Kup kartę upominkową</li>
            <li>Realizacja karty upominkowej</li>
        </ul>
    </div>

    <div class="onas">
        <h2>O nas</h2>
        <ul>
            <li>Nasza strona korporacyjna</li>
            <li>Kariera</li>
            <li>Prasa</li>
            <li>Relacje inwestorskie</li>
        </ul>
    </div>

</body>

</html>