<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style3.css') }}">
</head>

<body>
    <div class="image">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" height="200px">
    </div>

    <div class="header">
        <h1>Sklep Internetowy</h1>
    </div>

    <a class="menu" href="{{url_for('sklep')}}">
        <div>
            <h2>Strona glówna</h2>
        </div>
    </a>

    <a class="koszyk" href="{{ url_for('koszyk')}}">
        <div>
            <h2>Koszyk</h2>
        </div>

    </a>

    <a class="zaloguj" href="{{ url_for('login_page') }}">
        <div>
            <h2>Zaloguj</h2>
        </div>

    </a>

    <div class="wyszukaj">
        <input type="text" placeholder="Wyszukaj..">
    </div>


    <div class="but">
        <img src="{{ url_for('static', filename='img/but2.webp') }}" alt="">
    </div>

    <div class="opis">
        <h3>Air Jordan 1 Mid Wmns 'Vivid Sulfer'</h3><br>
        <p>Buty Air Jordan 1 Mid prezentują wszechstronny styl na korcie i najwyższy komfort, zapewniając legendarny
            wygląd.
            Podeszwa Air-Sole zapewnia amortyzację na twardym drewnie, a wyściełany kołnierz zapewnia wsparcie.</p>
        <br><br>
        <p>Cena: <strong>550.0zł</strong></p>
        <label for="">Wybierz rozmiar: <input type="number"></label>
    </div>

    <div class="dostawa">
        <label for="">Podaj date dostawy: <input type="date"></label>
        <label for="">Podaj metode dostawy: <select name="" id="">
                <option value="kurier">Kurier</option>
                <option value="paczkomat">Paczkomat</option>
                <option value="pp">Poczta Polska</option>
            </select></label>
        <div class="formularz">
            <input type="text" class="email" placeholder="E-mail">
            <input type="text" class="imie" placeholder="Imie">
            <input type="text" class="nazwisko" placeholder="Nazwisko">
            <input type="text" class="ulica" placeholder="Ulica">
            <input type="number" class="nrdomu" placeholder="Nr domu">
            <input type="number" class="kodpocztowy" placeholder="Kod pocztowy">
            <input type="text" class="miejscowosc" placeholder="Miejscowość">
            <input type="number" class="numertel" placeholder="Numer telefonu">
        </div>
        <p>Przed zakupem należy się zalogować: <a class="link_log" href="{{ url_for('login_page') }}">Zaloguj</a>
        </p>
        <form class="przycisk" action="/zakup" method="post">
            <button class="zamow" type="submit" name="but" value="but_nike">Zamów</button>
        </form>
    </div>

    <div class="pomoc">
        <h2>Kontak i Pomoc</h2>
        <ul>
            <li>Wszystkie tematy</li>
            <li>Śledzenie przesyłki</li>
            <li>Możliwe metody płatności</li>
            <li>Procedura zwrotu</li>
            <li>Zapisz się do newslettera</li>
            <li>Reklamacja</li>
            <li>Zgłoś lukę w zabezpieczeniach</li>
        </ul>
    </div>

    <div class="karty">
        <h2>Karty podarunkowe</h2>
        <ul>
            <li>Kup kartę upominkową</li>
            <li>Realizacja karty upominkowej</li>
        </ul>
    </div>

    <div class="onas">
        <h2>O nas</h2>
        <ul>
            <li>Nasza strona korporacyjna</li>
            <li>Kariera</li>
            <li>Prasa</li>
            <li>Relacje inwestorskie</li>
        </ul>
    </div>

</body>

</html>