<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sklep</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="image">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" height="200px">
    </div>

    <div class="header">
        <h1>Sklep Internetowy</h1>
    </div>

    <div class="menu">
        <h2>Kategorie</h2>
    </div>
    <div class="koszyk">
        <h2>Koszyk</h2>
    </div>
    <div class="zaloguj">
        <h2><a href="{{ url_for('login_page') }}">Zaloguj</a></h2>
    </div>
    <div class="wyszukaj">
        <input type="text" placeholder="Wyszukaj..">
    </div>

    <div class="pos1">
        <img src="{{ url_for('static', filename='img/but1.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty do biegania</p>
        <p>Cena: <strong>423.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>




    <div class="pos2">
        <img src="{{ url_for('static', filename='img/but2.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty na co dzień</p>
        <p>Cena: <strong>550.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>




    <div class="pos3">
        <img src="{{ url_for('static', filename='img/but3.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty do biegania</p>
        <p>Cena: <strong>324.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>



    <div class="pos4">
        <img src="{{ url_for('static', filename='img/but1.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty do biegania</p>
        <p>Cena: <strong>423.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>



    <div class="pos5">
        <img src="{{ url_for('static', filename='img/but2.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty na co dzień</p>
        <p>Cena: <strong>550.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>


    <div class="pos6">
        <img src="{{ url_for('static', filename='img/but3.webp') }}" alt="">
        <h3>NIKE</h3>
        <p>Buty do biegania</p>
        <p>Cena: <strong>324.0zł</strong></p>
        <div class="kup">
            <p>Kup teraz</p>
        </div>
    </div>

    <div class="pomoc">
        <h2>Kontak i Pomoc</h2>
    </div>

    <div class="karty">
        <h2>Karty podarunkowe</h2>
    </div>

    <div class="onas">
        <h2>O nas</h2>
    </div>


</body>

</html>