<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style5.css')}}">
</head>

<body>
    <div class="image">
        <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="" height="200px">
    </div>

    <div class="header">
        <h1>Sklep Internetowy</h1>
    </div>

    <a class="menu" href="{{url_for('sklep')}}">
        <div>
            <h2>Strona glówna</h2>
        </div>
    </a>

    <a class="koszyk" href="{{ url_for('koszyk')}}">
        <div>
            <h2>Koszyk</h2>
        </div>

    </a>
    <a class="zaloguj" href="{{ url_for('login_page') }}">
        <div>
            <h2>Zaloguj</h2>
        </div>

    </a>
    <div class="podziekowania">
        <h4>Dziękujemy za zakup: </h4>
    </div>


    <div class="pos1">
        <img src="{{ url_for('static', filename='img/but1.webp') }}" alt="">
        <h3>Buty do biegania męskie Nike Vomero 18 </h3>
        <p>Cena: <strong>423.0zł</strong></p>
    </div>


    <div class="pomoc">
        <h2>Kontak i Pomoc</h2>
        <ul>
            <li>Wszystkie tematy</li>
            <li>Śledzenie przesyłki</li>
            <li>Możliwe metody płatności</li>
            <li>Procedura zwrotu</li>
            <li>Zapisz się do newslettera</li>
            <li>Reklamacja</li>
            <li>Zgłoś lukę w zabezpieczeniach</li>
        </ul>
    </div>

    <div class="karty">
        <h2>Karty podarunkowe</h2>
        <ul>
            <li>Kup kartę upominkową</li>
            <li>Realizacja karty upominkowej</li>
        </ul>
    </div>

    <div class="onas">
        <h2>O nas</h2>
        <ul>
            <li>Nasza strona korporacyjna</li>
            <li>Kariera</li>
            <li>Prasa</li>
            <li>Relacje inwestorskie</li>
        </ul>
    </div>


</body>

</html>